@import 'css/basics.scss';

// TODO better solution to get rid this ugly blue outline on focus
.input-multiselect .select-group.focus,
.input-multiselect .select-group:focus,
input[type='checkbox']:focus,
input[type='checkbox'].focus,
input[type='radio']:focus,
input[type='radio'].focus,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input:focus ~ .custom-control-label::before,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

// :root {
// }

body {
    background-color: #f2f2f2 !important;
}

// ::placeholder,
// :-ms-input-placeholder,
// ::-ms-input-placeholder {
//     color: red;
// }

input::-webkit-input-placeholder {
    // color: red !important;
    font-size: 12px;
}
input::-moz-placeholder {
    // color: red !important;
    font-size: 12px;
}
input:-moz-placeholder {
    /* Older versions of Firefox */
    // color: red !important;
    font-size: 12px;
}
input:-ms-input-placeholder {
    // color: red !important;
    font-size: 12px;
}

// this adds the missing cursor-pointer to bt4 radio and select buttons
.cursor-pointer,
.custom-file-input,
.custom-select,
.custom-control-label::after {
    cursor: pointer;
}

.form-group {
    label {
        margin-bottom: 0;
        margin-left: 2px;
        color: rgb(56, 105, 123);
        font-size: 14px;
    }
    .b-form-tag.badge-secondary {
        background-color: #e2f1f1;
        border: 1px solid #b8c6c6;
        color: rgb(82, 82, 82);
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #749a99;
        background-color: #8cb7b6;
    }
}
.request-zone,
.action-cell {
    &.scroll-area {
        width: 390px;
        flex-grow: 1;
    }
}

.result-zone .vjs-tree {
    font-size: 13px;
}

.value-cell {
    .scroll-area-vc {
        overflow-y: auto;
        scrollbar-width: none;
        height: 60px;
        padding-right: 10px;
        &::-webkit-scrollbar {
            display: none;
        }
        .ps__thumb-x,
        .ps__thumb-y {
            background-color: #b2d8d7;
        }
    }
    .text-area {
        background-color: #fff;
        padding: 5px 2px 5px 10px;
        margin-right: 10px;
        border: 1px solid #ced7dd;
        border-radius: 5px;
        width: 100%;
    }
}

.action-cell,
.request-zone,
.result-zone {
    // TODO: refacor and sort these classes
    .nav-item {
        a {
            color: gray;
        }
    }

    .nav {
        flex-wrap: nowrap;
        .nav-link.active {
            .tiny-close {
                visibility: visible;
            }
        }
        .title {
            font-size: 14px;
        }
    }
    .nav-tabs {
        flex-wrap: nowrap;
        white-space: nowrap;
        scrollbar-width: none;
        overflow-x: auto;
        padding-top: 6px;
        width: calc(100% - 20px);
        margin-left: 10px;
        &::-webkit-scrollbar {
            display: none;
        }
        .nav-link {
            border: 1px solid #4950571c;
        }
        .nav-item.active {
            z-index: 100000 !important;
        }
    }

    .spacer-top {
        height: 10px;
    }

    .tiny-close {
        border: 1px solid #8ec3c3;
        width: 15px;
        height: 15px;
        padding: 0;
        line-height: 15px;
        border-radius: 100%;
        float: right;
        margin-top: -14px;
        margin-right: -22px;
        visibility: hidden;
        background-color: #fff;
        &:hover {
            border-color: #7b9d9d;
        }
        .icon {
            text-align: center;
            vertical-align: middle;
            line-height: 11px;
            font-weight: bold;
            font-size: 12px;

            color: #539dab;
            &:hover {
                color: #4a4a4a;
            }
        }
    }

    .scroll-area {
        overflow-y: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        .form-elements {
            // width: 378px;
            $dx: 30px;
            .form-group {
                width: 400px;
                &.level-1 {
                    margin-left: calc(#{$dx} * 0) !important;
                }
                &.level-2 {
                    margin-left: calc(#{$dx} * 1) !important;
                }
                &.level-3 {
                    margin-left: calc(#{$dx} * 2) !important;
                }
                &.level-4 {
                    margin-left: calc(#{$dx} * 3) !important;
                }
                &.level-5 {
                    margin-left: calc(#{$dx} * 4) !important;
                }
                &.level-6 {
                    margin-left: calc(#{$dx} * 5) !important;
                }
            }
            .layout {
                width: 500px;
                line-height: 20px;
                display: flex;
                .line {
                    width: 50px;
                    border: 1px solid #7e8288;
                    border-bottom: none;
                    height: 1px;
                    position: relative;
                    margin-right: 10px;
                    margin-top: 10px;
                }
                .label {
                    margin-right: 10px;
                    color: #4b9dbc;
                    font-size: 14px;
                }
                .action {
                    height: 20px;
                    button {
                        font-size: 10px;
                        font-weight: 500;
                        margin-right: 5px;
                        margin-top: -3px;
                        padding: 0.2rem 0.4rem;
                        &.add {
                            background-color: #6ad45f;
                        }
                        &.remove {
                            background-color: #ff9b9b;
                        }
                        &.shift {
                            background-color: #5ca0b3;
                        }
                    }
                }
            }
        }
        .ps__thumb-x,
        .ps__thumb-y {
            background-color: #b2d8d7;
        }
    }
    .tab-content > .active {
        display: flex;
    }

    .tab {
        margin: 10px;
        flex-direction: column;
        height: calc(100vh - 170px - 70px);
        input, textarea {
            font-size: 13px;
        }
        .alert {
            padding: 0.5rem 0.5rem;
            display: inline-block;
            width: max-content;
            max-width: 100%;
        }
        .scoll-area-edge {
            height: 1px;
            border-top: 1px dashed #50bbe4;
            margin: 10px 0px 10px 0px;
        }
        .info {
            display: flex;
            flex-direction: row;
            background-color: #fff;
            padding: 5px 10px 5px 10px;
            border: 1px solid #7fb6d0;
            border-radius: 5px;
            .description {
                flex-grow: 1;
                font-size: 14px;
                line-height: 16px;
                color: #5c7777;
                align-self: center;
            }
            .send {
                align-self: center;
                .bt-send {
                    position: relative;
                    padding: 2px 10px 2px 10px;
                    background-color: #4fa7c1;
                    &:hover {
                        background-color: #3a859b;
                    }
                    // &:active, // ths dont works on tap!!
                    &.click {
                        // use this to get the tap state also
                        background-color: #cde7ef;
                        color: #3a3838;
                    }
                }
            }
            .seperator {
                align-self: center;
                position: relative;
                padding: 2px 5px 2px 5px;
                border: none;
            }
        }
        .target {
            background-color: #ffffffa3;
            padding: 5px 10px 5px 10px;
            border: 1px solid #7fb6d0;
            border-radius: 5px;
            margin-top: 5px;
            color: #686574;
            font-size: 12px;
        }
        .bt-form {
            position: relative;
            padding: 2px 10px 2px 10px;
            background-color: #4fa7c1;
            &:hover {
                background-color: #3a859b;
            }
            // &:active, // ths dont works on tap!!
            &.click {
                // use this to get the tap state also
                background-color: #cde7ef;
                color: #3a3838;
            }
        }
    }
}
